body {
  background-image: url('https://blog.structuralia.com/hubfs/Conservacio%CC%81n%20carreteras%20ambiental.jpg');
  background-size: 100%;
  background-image: no-repeat;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}